<h1>Pictures!</h1>

<% @pictures.each do |picture| %>
  <span>Title: <%= picture.title %></span><br>
  <span>Artist: <%= picture.artist %></span><br>
  <!-- <span><%= link_to 'Show', picture %></span> -->
  <!-- <span><%= link_to 'Edit', edit_picture_path(picture) %></span> -->
  <!-- <span><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></span> --><br>
  <!-- <img src=<%= picture.image %>><br> -->
  <%= link_to image_tag(picture.image), picture %><br>
<% end %>

<br>

<%= link_to 'New Picture', new_picture_path %>
