<p id="notice"><%= notice %></p>

<p>
  <h2>Title: <%= @picture.title %></h2>
</p>

<p>
  <h3>Artist: <%= @picture.artist %></h3>
</p>

<p>
  <img src=<%= @picture.image %>>
</p>

# <%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>

