<p id="notice"><%= notice %></p>

<p>
  <h2>Title: <%= @picture.title %></h2>
</p>

<p>
  <h2>Artist: <%= @picture.artist %></h2>
</p>
<div class="show_img">
	<img src=<%= @picture.image %>>
</div>

# <%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>

