<li class="nav_on_show"><%= link_to 'Edit', edit_picture_path(@picture) %></li>
<li><%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <h2>Title: <%= @picture.title %></h2>
</p>

<p>
  <h4>Artist: <%= @picture.artist %></h4>
</p>




<div class="show_img">
	<img src=<%= @picture.URL %>>
</div>

