<li class="nav_on_show"><%= link_to 'Edit', edit_picture_path(@picture) %></li>
<li><%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<li><%= link_to 'Back', pictures_path %></li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <h2>Title: <%= @picture.title %></h2>
</p>

<p>
  <h4>Artist: <%= @picture.artist %></h4>
</p>




<div class="show_img">
	<img src=<%= @picture.URL %>>
</div>

<div class="rating"><h2>Likes: 
	<%= @picture.rating %></h2>
	<%= button_to 'Like', picture_upvote_path %>
</div>



<div id="comment_container">
	<h1 class="comment_h">Comments</h1>
	<span class="comment_bottom_border"></span>
	<% if @picture.comments.length > 0 %>
		<%= render @picture.comments %>
	<% else %>
		<h3 class="comment_h">No Comments</h3>
	<% end %>
</div>





<div id="new_comment_wrapper">
<h1 class="comment_h">New Comment</h1>
	<%= form_for([@picture, @picture.comments.build]) do |f| %>

	 <p class="name_field">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </p>
	  <p class="body_field">
	    <%= f.label :body %><br />
	    <%= f.text_area :body %>
	  </p>
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>
</div>



